<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/logo-square.png">
    <link rel="stylesheet" href="./css/donate.css">
    <title>donate us</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
    </style>

</head>

<body>

    <div class="container">

        <div class="image">
            <img src="../images/jamiat-qr.jpg" class="QrCode" alt="">
            <img src="../images/apeal.jpg" class="apealImg" alt="">
            <div class="content">
                <h1>Subai Jamiat Ahle Hadees Mumbai Bank Details</h1>
                <p>
                    <b>Name: </b>
                    Subai Jamiat Ahle Hadees Mumbai
                </p>

                <p>
                    <b>
                        A/C No.
                    </b>
                    50200067741431
                </p>
                <p>
                    <b> Bank: </b>
                    HDFC Bank
                </p>
                <p>
                    <b>
                        Branch:
                    </b>
                    Kurla West
                </p>
                <p>
                    <b> IFSC Code: </b>
                    HDFC0007453
                </p>
            </div>
            <div class="btn-container">
                <button type="button" class="bank-details">Bank Details</button>
                <button type="button" class="apeal">Appeal</button>
            </div>
        </div>

        <!-- <form>
            <h1 class="heading">Support us</h1>
            <div>
                <label for="name">Enter your name</label>
                <input type="text" id="name" placeholder="Enter your name">
            </div>
            <div>
                <label for="email">Enter your email</label>
                <input type="text" id="email" placeholder="Enter your email">
            </div>


            <div>
                <label for="number">Enter your number</label>
                <input type="number" id="number" placeholder="Enter phone number">
            </div>
            <div>
                <label for="amount">Enter your amount</label>
                <input type="number" id="amount" placeholder="Enter donation amount" min="1">
            </div>

            <div>
                <select id="donation-type">
                    <option value="" disabled selected>Donate to</option>

                    <option value=" Ulama or Mudarriseen ki kifalat ke liye">
                        Ulama ki kifalat ke liye
                    </option>
                    <option value="Talba ki kifalat ke liye">
                        Talba ki kifalat ke liye
                    </option>
                    <option value="Kitabon ki ishat ke liye
                        ">
                        Kitabon ki ishat ke liye
                    </option>
                    <option value="Tamir E Masjid ke liye
                    ">
                        Tamir E Masjid ke liye
                    </option>
                    <option value="Dawati programmon ke liye">
                        Dawati Programmon ke liye
                    </option>
                    <option value="Contribution to Relief Fund
                        ">
                        Relief Fund ke liye
                    </option>
                    <option value="Social Cause ke liye">
                        Social Cause ke liye
                    </option>
                </select>
            </div>
            <span class="error"></span>
            <div class='submit-container'>
                <button type="submit">
                    Donate now
                </button>
            </div>

        </form> -->

    </div>

    <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
    <!-- <script src="./javascript/donate.js"></script> -->
    <script>
        const BankDetails = document.querySelector( '.bank-details' )
        const apealBtn = document.querySelector( '.apeal' )
        const content = document.querySelector( '.image .content' )
        const img = document.querySelector( '.image img.QrCode' )
        const apealImg = document.querySelector( '.image img.apealImg' )
        BankDetails.onclick = () => {

            if ( !BankDetails.classList.contains( 'active' ) ) {
                img.style.display = 'none'
                content.style.display = 'block'
                BankDetails.classList.add( 'active' )
                BankDetails.innerText = 'QR Code'
                apealImg.classList.remove( 'visible' )
            } else {
                img.style.display = 'block'
                content.style.display = 'none'
                BankDetails.classList.remove( 'active' )
                BankDetails.innerText = 'Bank Details'
                apealImg.classList.remove( 'visible' )
            }
        }
        apealBtn.onclick = () => {
            img.style.display = 'none '
            content.style.display = 'none'
            apealImg.classList.add( 'visible' )
        }
    </script>

</body>

</html>