<!-- <div class="chat-container">

    <div class="head">
        <div class="logo">
            <img src="./images/favicon.png" alt="">
            <p>

                صوبائی جمعیت اہل حدیث ممبئی</p>
        </div>
        <div class="close">
            <i class="fa-solid fa-angle-down"></i>
        </div>

    </div>
    <div class="chat-body">

        <div class="chat-wrapper">

            <div class="chat bot">
                <div class="message-container">

                    <div class="message">
                        <p>
                            أهلا وسهلا ومرحبا
                        </p>
                        <p>

                            السلام عليكم ورحمة الله وبركاته

                        </p>
                    </div>
                    <span class="time">8:27PM</span>
</div>
<img src="./images/bot.png" alt="">
</div>

<div class="chat-btn">
    آگے بڑھنے کے لیے یہاں کلک کریں۔
</div>

<div class="chat user">
                <div class="message-container">

                    <div class="message">
                        <p>
                            وعلیکم اسلام ورحمت اللہ و برکا تہ اور خیریت ہے
                        </p>
                    </div>
                    <span class="time">8:27PM</span>
                </div>
            </div>

</div>

<div class="chat-input">

    <input type="text" placeholder="چیٹ بوٹ">

</div>

</div>
</div>

<div class="chat-icon">

    <i class="fa-brands fa-rocketchat"></i>

</div> -->

<!-- social icons design starts here  -->

<div class="social-icon-arrow">

    <div class="arrow active">
        <i class="fa-solid fa-angle-left"></i>
    </div>
    <div class="donate">

        <a href="/donate" target="_blank"><i class="fa-solid fa-hand-holding-dollar"></i></a>

    </div>

</div>

<div class="social-icon">


    <a target="_blank" class="icon facebook" href="https://www.facebook.com/subaijamiatahlehadeesmumbai1/">

        <i class="fa-brands fa-facebook-f"></i>

    </a>
    <a target="_blank" class="icon twitter" href="https://twitter.com/JamiatSubai">

        <i class="fa-brands fa-twitter"></i>

    </a>

    <a target="_blank" class="icon telegram" href="https://t.me/SubaiJamiatAhleHadeesMumbai1">

        <i class="fa-brands fa-telegram"></i>

    </a>

    <!-- <a target="_blank" class="icon google-plus" href="https://plus.google.com/+SubaiJamiatAhleHadeesMumbai">

            <i class="fa-brands fa-google-plus-g"></i>

        </a> -->

    <a target="_blank" class="icon youtube" href="https://www.youtube.com/@SubaiJamiatAhleHadeesMumbai">

        <i class="fa-brands fa-youtube"></i>

    </a>
    <a target="_blank" class="icon instagram" href="https://www.instagram.com/subaijamiatahlehadeesmum/">

        <i class="fa-brands fa-instagram"></i>

    </a>

    <a target="_blank" href="https://wa.me/+919892555244" class="icon whatsapp">

        <i class="fa-brands fa-whatsapp"></i>

    </a>
    <div class="icon arrow-close">
        <i class="fa-solid fa-angle-left"></i>
    </div>


</div>

<!-- first header starts here  -->

<div class="header">

    <div class="main-container">

        <div class="custom-container">

            <div class="left">

                <a class="donate" target="_blank" href="/donate">
                    تعاون کریں
                </a>

                <div class="menu language-container">

                    <i class="fa-solid fa-globe"></i></span>

                    <div class="language">

                        <a href="/" class="lang active">اردو زبان</a>
                        <a href="/ar" class="lang">عربی زبان</a>
                        <a href="/pending" class="lang">English</a>

                    </div>

                </div>

                <div class="calender">

                    <!-- <i class="fa-solid fa-calendar-days"></i> -->
                    <i data-DateForMoon="<%= DynamicData.arabicDate.DateForMoonIcon %>" class="MoonAccordingDate"></i>

                    <div class="date">


                        <span dir="rtl" class="arabic-date">
                            <%= DynamicData.arabicDate.Date %>
                        </span>
                        <span class="english-date"></span>

                    </div>

                </div>


            </div>

            <div class="flow">

                <marquee direction="right"> <!-- it will be left in english-->
                    <p class="upcoming-event"></p>
                </marquee>

            </div>



            <a href="/imp-notice" target="_blank" class="headline">
                اہم اطلاع
            </a>

        </div>


    </div>

</div>


<!-- second header starts here  -->

<div class="header2-container">

    <div class="main-container">

        <div class="header2">

            <a href="/introduction" class="image logo-1">

                <img src="./images/favicon.png" alt="image not found">

            </a>

            <a href="/introduction" class="image logo-3">

                <img src="./images/logo-text.png" alt="image not found">

            </a>
            <!-- <a href="" class="image logo-3">

                <img src="./images/logo-text-2.png" alt="image not found">

            </a> -->
        </div>

    </div>
</div>

<!-- navbar design starts here  -->

<div class="navbar">

    <div class="main-container">

        <div class="custom-container">

            <div class="search">

                <!-- <span>

                    <i class="fa-solid fa-magnifying-glass icon"></i>

                    <input placeholder="تلاش کریں" title="عنقریب">

                </span> -->

                <script async src="https://cse.google.com/cse.js?cx=44a4a3f8990c74616">
                </script>
                <div class="gcse-search"></div>


            </div>

            <div class="menubar">

                <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                <span class="menu-icon"> مینو </span>
                <span class="bar-icon"> <i class="fa-solid fa-bars"></i> </span>

            </div>

            <div class="nav">


                <a href="/contact" data-active="contact" class="nav-link">
                    رابطہ کریں<i class="fa-solid fa-envelope nav-icon"></i>
                </a>

                <div class="dropdown">
                    <a class="nav-link">
                        <i class="fa-solid icon fa-angle-down"></i>

                        <span>
                            توصیہ <i class="fa-solid fa-clipboard nav-icon"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a target="_blank" href="/tausia-rules" class="nav-link">
                            اصول وضوابط
                        </a>
                        <a href="/tausia" data-active="tausia" class="nav-link">
                            توصیہ کے لئے اپلائی کریں
                        </a>
                        <!-- <a href="/tausia-update-registeration-login" data-active="update-tausia" class="nav-link">
                            اپڈیٹ توصیہ
                        </a> -->
                        <a href="/check-tausia-status" data-active="tausia-status" class="nav-link">
                            اسٹیٹس چیک کریں
                        </a>
                        <a href="/masjid-registeration" data-active="masjid-registeration">
                            مسجد کو رجسٹر کریں
                        </a>
                        <a href="/tausia-authentication">
                            توصیہ کی تصدیق کریں
                        </a>
                        <a href="/tausia-talaba" data-active="tausia-talaba" class="nav-link">
                            برائے طلبہ
                        </a>
                        <a href="/check-talaba-status" data-active="talaba-status" class="nav-link">
                            اسٹیٹس برائے طلبہ
                        </a>
                    </div>
                </div>

                <div class="dropdown">

                    <a class="nav-link">
                        <i class="fa-solid icon fa-angle-down"></i>
                        <span> فتاویٰ<i class="fa-solid fa-pen nav-icon"></i></span>
                    </a>

                    <div class="dropdown-menu">
                        <a href="/fikh-w-fatawa" data-active="fikh-w-fatawa"> فقہ وفتاویٰ</a>
                        <a href="/fatawa" data-active="fatawa">سوال پوچھیں</a>
                    </div>

                </div>
                <div class="dropdown">

                    <a class="nav-link">

                        <i class="fa-solid icon fa-angle-down"></i>
                        <span>میڈیا <i class="fa-solid fa-video nav-icon"></i></span>

                    </a>

                    <div class="dropdown-menu">

                        <!-- <a href="cards.html" data-active="cards"> بطاقات </a> -->
                        <a href="/press-release" data-active="press-release">
                            پریس ریلیز
                        </a>
                        <a href="/video-gallery" data-active="video-gallery">ویڈیوز </a>
                        <a href="/posters" data-active="posters">
                            پوسٹرس
                        </a>



                        <!-- <a href="/photo-gallery" data-active="photo-gallery">انفوگرافکس</a> -->

                    </div>
                </div>

                <a href="/book" class="nav-link" data-active="book">
                    کتب <i class="fa-solid fa-book nav-icon"></i>
                </a>

                <div class="dropdown">

                    <a class="nav-link">

                        <i class="fa-solid icon fa-angle-down"></i>
                        <span> میگزین <i class="fa-solid fa-book nav-icon"></i></span>

                    </a>

                    <div class="dropdown-menu">

                        <a href="/aljama" data-active="mujallah">
                            مجلہ الجماعۃ
                        </a>

                    </div>
                </div>

                <div class="dropdown">

                    <a class="nav-link">

                        <i class="fa-solid icon fa-angle-down"></i>
                        <span> ذیلی اکائیاں <i class="fa-solid fa-list nav-icon"></i></span>

                    </a>

                    <div class="dropdown-menu">

                        <a href="/district-jamiat" data-active="district-jamiat">
                            ضلعی جمعیات
                        </a>
                        <a href="/masajid" data-active="masajid">
                            مساجد
                        </a>

                    </div>
                </div>




                <div class="dropdown">

                    <a class="nav-link">

                        <i class="fa-solid icon fa-angle-down"></i>
                        <span> سرگرمیاں<i class="fa-solid fa-person-running nav-icon"></i> </span>



                    </a>


                    <div class="dropdown-menu">

                        <a href="/jamati-activities" data-active="jamati-activities">
                            جماعتی سرگرمیاں
                        </a>
                        <a href="/aina-e-jamiat" data-active="aina-e-jamiat">
                            آئینۂ جمیعت
                        </a>
                        <a href="/moon" data-active="moon">
                            رؤیت ہلال
                        </a>
                        <a href="/juma-list" data-active="juma-list">
                            خطبات جمعہ
                        </a>

                    </div>

                </div>

                <a href="/introduction" data-active="about" class="nav-link">
                    تعارف <i class="fa-solid fa-circle-question nav-icon"></i>
                </a>

                <a href="/" data-active="home" class="nav-link">
                    سرورق <i class="fa-solid fa-house nav-icon"></i>
                </a>

            </div>

        </div>


    </div>

</div>