<div class="loading">
    <!-- <div class="spinning"></div> -->
    <div class="loading-content">
        <p>
            رسول ﷺ کا ارشاد گرامی ہے: "تم لوگ جماعت کو لازم پکڑو اور فرقہ بندی سے بچو، ... جو شخص جنت کے درمیانی حصہ میں
            جانا چاہتا ہو وہ جماعت سے لازمی طور پر جڑا رہے"۔
        </p>
        <p>

            [سنن الترمذی: ٢١٦٥، وصححه الألباني]
        </p>
    </div>
</div>