<!-- all css files are here  -->
<!-- favicon link here  -->
<link rel="icon" type="image/x-icon" href="./images/logo-square.png">
<!-- own css file link  -->
<link rel="stylesheet" href="./css/style.css">
<!-- fontawesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!-- swiper  css link  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<!-- customize swiper css link  -->
<link rel="stylesheet" href="./css/swiper.css">
<!-- bootstrap grid css file link  -->
<link rel="stylesheet" href="./css/bootstrap-grid.css">
<!-- own content css file link  -->
<link rel="stylesheet" href="./css/content.css">
<!-- own footer css file link  -->
<link rel="stylesheet" href="./css/footer.css">
<!-- animate.css cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<!-- own css animation link  -->
<link rel="stylesheet" href="./css/animate.css">

<!-- all scripts are here  -->
<!-- own  js file cdn link  -->
<script defer src="./javascript/script.js"></script>
<!-- swiper js cdn link  -->
<script defer src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- swiper customize js link  -->
<script defer src="./javascript/swiper.js"></script>
<!-- jquery cdn link  -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- waypoints cdn link for animation  -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<!-- own animation js file  -->
<script defer src="./javascript/animate.js"></script>
<!-- all page title is same -->
<title>Subai Jamiat Ahle Hadees Mumbai</title>

<meta name="keywords"
    content="Subai Jamiat Ahle Hadees , Ahle hadees , ahle hadees mumbai , masajdi in mumbai , صوبائی جمعیت اہل حدیث ممبئی ، اہل حدیث ، اہل حدیث ممبئی , Ahle hadees masajid">
<meta name="description"
    content="صوبائی جمعیت اہل حدیث ممبئی ایک دعوتی، تربیتی، اصلاحی اور رفاہی مشن ہے اور دنیا میں امن و سلامتی کی مناد ہے۔ اسلام خالص کی دعوت پیش کرنا اس کا امتیاز ہے۔ دین کا صحیح تعارف تعلیم وتربیت، دعوت واصلاح اور رفاہی سر گرمیوں کے ذریعہ انسانیت کی خدمت اس کا مطلوب ہے۔ ان عظیم مقاصد اور منصوبوں کی تکمیل کی جانب بحمد للہ جمعیت رواں دواں ہے اور اللہ تعالیٰ سے مدد اور توفیق کی طالب ہے۔">
<meta name="language" content="English">

<style>
    * {
        direction: ltr;
        font-family: "Montserrat", "Noto Nastaliq Urdu", sans-serif;
    }
</style>