<footer>
  <div class="up">
    <i class="fa-solid fa-angles-up"></i>
  </div>
  <div class="main-container">
    <div class="container2">
      <div class="row justify-content-center">

        <div
          class="footer-1 order-lg-1 order-xl-1 order-md-3 order-sm-4 content col-12 col-sm-8 col-md-6 col-lg-3 col-xl-3">
          <h1 class="heading">Quick Links</h1>

          <div class="card">
            <a href="/"> Home </a>

            <a href="/introduction"> About </a>

            <a href="/aljama"> Mujallah Aljama </a>

            <a href="/book"> book </a>
            <a href="/press-release"> Press Release </a>

            <a href="/fatawa"> Fatawa </a>

            <a href="/tausia"> Tausia </a>

            <a href="/contact"> Contact Us </a>
          </div>
        </div>

        <div
          class="footer-2 order-lg-2 order-xl-2 order-md-4 order-sm-3  content col-12 col-sm-8 col-md-6 col-lg-3 col-xl-3">
          <h1 class="heading">Latest</h1>

          <div class="card">

            <a href="/book"> کتاب التوحید </a>

            <a href="/book">علمی و دعوتی خیانت</a>

            <a href="/book"> خلیفہ راشد عثمان غنی کی زندگی کے اخری ایام </a>

            <a href="/book"> طالب علم کا زیور </a>

            <a href="/book"> جدید مناہج کی حقیقت </a>

            <a href="/aljama"> الجماعہ: مارچ اپریل ۲۰۲۳ء </a>

            <a href="/aljama"> الجماعہ: مئی جون ۲۰۲۳ء </a>

            <a href="/aljama">الجماعہ، جولائی، اگست ۲۰۲۳ء</a>

            <a href="/aljama"> مجلہ الجماعہ، خصوصی شمارہ، ستمبر، اکتوبر ۲۰۲۳ء </a>
          </div>
        </div>

        <div
          class="footer-3 order-lg-3 order-xl-3 order-md-1 order-sm-2 content col-12 col-sm-8 col-md-6 col-lg-3 col-xl-3">
          <h1 class="heading">Contact Us</h1>

          <div class="card">
            <p>
              صوبائی جمعیت اہل حدیث ممبئی
            </p>

            <p>
              صوبائی جمعیت اہل حدیث ممبئی ١٤/١٥، چونا والا کمپاؤنڈ، مقابل بیسٹ
              بس ڈپو، ایل بی ایس مارگ، کرلا (ویسٹ) ممبئی-
            </p>

            <p><a href="tel:+919892255244">+91 9892255244</a> : فون</p>

            <p>
              <a href="mailto:ahhlehadeesmumbai@gmail.com">ahlehadeesmumbai@gmail.com</a>
              : ای میل
            </p>

            <!-- <p>

                        <a href="">http://www.ahlehadees.org</a>
                        : ویب سائٹ

                    </p> -->

            <div class="map">
              <iframe class="map-iframe"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15082.976817056155!2d72.876789!3d19.074981!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c88d36afb7f1%3A0xf8ec2199824eb5a7!2sSubai%20Jamiat%20Ahle%20Hadees%20Mumbai%20(Office)!5e0!3m2!1sen!2sin!4v1687245054497!5m2!1sen!2sin"
                width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>

        <div
          class="footer-4 order-lg-4 order-xl-4 order-md-2 order-sm-1 content col-12 col-sm-8 col-md-6 col-lg-3 col-xl-3">
          <h1 class="heading">
            Media Update
          </h1>

          <div class="card">
            <div class="map facebook-iframe">
              <!-- <a class="twitter-timeline twitter-iframe" height="440px" width="100%"
                href="https://twitter.com/JamiatSubai?ref_src=twsrc%5Etfw">Tweets by JamiatSubai</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <!-- <a class="twitter-timeline" href="https://twitter.com/JamiatSubai?ref_src=twsrc%5Etfw">Tweets by
                JamiatSubai</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <!-- <a class="twitter-timeline" href="https://twitter.com/JamiatSubai?ref_src=twsrc%5Etfw">Tweets by
                JamiatSubai</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsubaijamiatahlehadeesmumbai1&tabs=timeline&width=300&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>

            <div class="social-media">
              <a target="_blank" class="facebook" href="https://www.facebook.com/subaijamiatahlehadeesmumbai1/">
                <i class="fa-brands fa-facebook-f"></i>
              </a>

              <a target="_blank" class="twitter" href="https://twitter.com/JamiatSubai">
                <i class="fa-brands fa-twitter"></i>
              </a>

              <a target="_blank" class="telegram" href="https://t.me/SubaiJamiatAhleHadeesMumbai1">
                <i class="fa-solid fa-paper-plane"></i>
              </a>

              <!-- <a target="_blank" href="https://plus.google.com/+SubaiJamiatAhleHadeesMumbai">

                                <i class="fa-brands fa-google-plus-g"></i>

                            </a> -->

              <a target="_blank" class="youtube" href="https://www.youtube.com/@SubaiJamiatAhleHadeesMumbai">
                <i class="fa-brands fa-youtube"></i>
              </a>

              <a target="_blank" class="instagram" href="https://www.instagram.com/subaijamiatahlehadeesmum/">
                <i class="fa-brands fa-instagram"></i>
              </a>

              <a target="_blank" class="whatsapp" href="https://wa.me/+919892555244">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>







      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <span>
    2023 © All rights reserved by Subai Jamiat Ahle Hadees Mumbai
  </span>
</div>

<!-- <div class="alert" dir="rtl">
  دورۂ تدریبیہ کے رجسٹریشن کے لئے یہاں کلک کریں <a target="_blank" href="/registeration">رجسٹریشن فارم</a>
</div> -->