<header>
    <div class="menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="opposite">
        <div class="icon expand">
            <i class="fa-solid fa-expand"></i>
        </div>
        <div class="profile">
            <img src="./images/user-img.png" alt="">
            <span>
                SJ ADMIN
            </span>
            <div class="profile-settings">
                <a href="" class="profile-link">
                    <i class="fa-solid fa-gear icon"></i>
                    <span>Account settings</span>
                </a>
                <span class="profile-link logout">
                    <i class="fa-solid fa-right-from-bracket icon"></i>
                    <span>Logout</span>
                </span>
            </div>
        </div>
    </div>
</header>