<div class="column-right order-1 order-sm-1 order-md-2 column col-12 col-sm-10 col-md-3 col-lg-3 col-xl-3">

    <div class="card">
        <div class="top">
            فهرس الكتب
        </div>
        <div class="content text-center">
            <!-- first category  -->
            <div class="book-dropdown">
                <span class="book-dropdown-title">
                    <b class="fa-solid fa-angles-down"></b>
                    <span>
                        العقيدة والفرق
                    </span>
                    <i class="fa-solid fa-plus"></i>
                    <!--  <i class="fa-solid fa-angle-down"></i> -->
                </span>
                <!-- <div class="line"></div> -->
                <div class="book-dropdown-menu">
                    <div class="row">
                        <a href="/ar-book-2#book14" class="col-12">
                            اسما حسنیٰ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book19" class="col-12">
                            تاریخ اہل حدیث
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-3#book3" class="col-12">
                            امام حرم شیخ کا اہم خطاب
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book20" class="col-12">
                            منہج سلف صالحین
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book8" class="col-12">
                            جدید مناحج کی حقیقت
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book16" class="col-12">
                            جماعت اہل حدیث پر الزامات کا جائزہ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-3#book4" class="col-12">
                            الارشاد الی سبیل الرشاد
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book17" class="col-12">
                            خوارج اور ان کے اوصاف
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book1" class="col-12">
                            بدعات کی پہچان
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book7" class="col-12">
                            امت محمدیہ کے فضائل
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book19" class="col-12">
                            عظمت صحابہ کے چند پہلو
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book2" class="col-12">
                            ایمان کی کمزوری
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book5" class="col-12">
                            شرک قرآنی تمثیلات کے آیؑنے میں
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book13" class="col-12">
                            نبی رحمت کے معجزات اور پیشنگویؑاں
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book2" class="col-12">
                            منہج حق کی وضاحت
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book3" class="col-12">
                            پیر زادہ محدثین کی عدالت
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book4" class="col-12">
                            رقیہ اور راقیوں سے متعلق اہم سوالات
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book17" class="col-12">
                            ناموس مصطفیٰ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book6" class="col-12">
                            قادیانیت کی حقیقت
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book11" class="col-12">
                            قیامت کی نشانیاں
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book12" class="col-12">
                            کتاب التوحید عربی متن مع اردو ترجمہ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book20" class="col-12">
                            مقصد حیات اور موؑمن کی بلند سوچ
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <!-- second category  -->
            <div class="book-dropdown">
                <span class="book-dropdown-title">
                    <b class="fa-solid fa-angles-down"></b>
                    <span>
                        القرآن وعلومه
                    </span>
                    <i class="fa-solid fa-plus"></i>
                </span>
                <div class="book-dropdown-menu">
                    <div class="row">
                        <a href="/ar-book-3#book1" class="col-12">
                            قرآن کی شیتل چھایا (ھندی)
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <!-- third category -->
            <div class="book-dropdown">
                <span class="book-dropdown-title">
                    <b class="fa-solid fa-angles-down"></b>
                    <span>
                        الأحكام والمسائل
                    </span>
                    <i class="fa-solid fa-plus"></i>
                </span>
                <!-- <div class="line"></div> -->
                <div class="book-dropdown-menu">
                    <div class="row">
                        <a href="/book#book16" class="col-12">
                            مختصر مسائل زکاۃ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book4" class="col-12">
                            زکاۃ مختصر احکام و مسائل
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book9" class="col-12">
                            صیام رمضان
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book6" class="col-12">
                            قیام رمضان
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book11" class="col-12">
                            حج و عمرہ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book3" class="col-12">
                            بھینس کی قربانی: ایک علمی جائزہ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book15" class="col-12">
                            داڈھی اسلامی فریضہ
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book12" class="col-12">
                            محرم
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book18" class="col-12">
                            عورتوں کا حق وراثت اور جدید جاہلیت
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book1" class="col-12">
                            عشرۂ ذی الحجہ کے اہم شرعی وظائف
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book9" class="col-12">
                            ماہ رمضان اور نبی کی سخاوت
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <!-- fourth category -->
            <div class="book-dropdown">
                <span class="book-dropdown-title">
                    <b class="fa-solid fa-angles-down"></b>
                    <span>
                        الأخلاق والآداب
                    </span>
                    <i class="fa-solid fa-plus"></i>
                </span>
                <!-- <div class="line"></div> -->
                <div class="book-dropdown-menu">
                    <div class="row">
                        <a href="/book#book7" class="col-12">
                            (اردو)اسلام اور اھنسا
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book13" class="col-12">
                            اسلام اور اھنسا(ھندی)
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book10" class="col-12">
                            اولاد کی تربیت میں کوتاہی
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book8" class="col-12">
                            طالب علم کا زیور
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book15" class="col-12">
                            علماء حق کی وفات اور ہم پر عائد ذمہ داریاں
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>

            <div class="book-dropdown">
                <span class="book-dropdown-title">
                    <b class="fa-solid fa-angles-down"></b>
                    <span>
                        الدعوة وأصولها
                    </span>
                    <i class="fa-solid fa-plus"></i>
                </span>
                <div class="book-dropdown-menu">
                    <div class="row">
                        <a href="/ar-book-2#book10" class="col-12">
                            سلفی دعوت کے اصول
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book18" class="col-12">
                            دعوت الیٰ اللٰہ
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>

            <div class="book-dropdown">
                <span class="book-dropdown-title">
                    <b class="fa-solid fa-angles-down"></b>
                    <span>
                        التاريخ والسير
                    </span>
                    <i class="fa-solid fa-plus"></i>
                </span>
                <div class="book-dropdown-menu">
                    <div class="row">
                        <a href="/ar-book-3#book2" class="col-12">
                            جماعت اہل حدیث اور آزادی وطن
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book14" class="col-12">
                            فعتبروایااؑولی الابصار
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>

            <div class="book-dropdown">
                <span class="book-dropdown-title">
                    <b class="fa-solid fa-angles-down"></b>
                    <span>
                        الدروس والخطبات
                    </span>
                    <i class="fa-solid fa-plus"></i>
                </span>
                <div class="book-dropdown-menu">
                    <div class="row">
                        <a href="/ar-book-3#book3" class="col-12">
                            امام حرم شیخ کا اہم خطاب
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/ar-book-2#book5" class="col-12">
                            کاموں کی ترجیحات
                        </a>
                    </div>
                    <div class="line"></div>
                    <div class="row">
                        <a href="/book#book20" class="col-12">
                            مقصد حیات اور موؑمن کی بلند سوچ
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>