<div class="loading">
    <!-- <div class="spinning"></div> -->
    <div class="loading-content">
        <p>
            قال رسول الله ﷺ:
            "عَلَيْكُمْ بِالْجَمَاعَةِ وَإِيَّاكُمْ وَالْفُرْقَةَ ... مَنْ أَرَادَ بُحْبُوحَةَ الْجَنَّةِ فَلْيَلْزَمْ
            الْجَمَاعَةَ".
        </p>
        <p>

            [سنن الترمذی: ٢١٦٥، وصححه الألباني] </p>
    </div>
</div>