<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کوئز رجیسٹریشن</title>

    <link rel="icon" type="image/x-icon" href="./images/logo-square.png">
    <link rel="stylesheet" href="./css/donate.css">
    <link rel="stylesheet" href="./css/quiz/quiz-form.css">
</head>

<body>

    <form>
        <h1>
            کوئز رجسٹریشن
        </h1>

        <div class="two-input">
            <div class="input-parent">
                <label for="name">
                    اپنا نام درج کریں
                    <span>
                        :
                    </span>
                </label>
                <input type="text" name="name" id="name">
            </div>

            <div class="input-parent">
                <label for="number">
                    اپنا موبائل نمبر درج کریں
                    <span>
                        :
                    </span>
                </label>
                <input type="text" id="number" name="number">
            </div>
        </div>

        <div class="two-input">

            <div class="input-parent">
                <label for="age">
                    اپنی عمر درج کریں
                    <span>
                        :
                    </span>
                </label>
                <input type="text" id="age" name="age">
            </div>
            <div class="input-parent">
                <label for="qualification">
                    اپنی تعلیمی لیاقت درج کریں
                    <span>
                        :
                    </span>
                </label>
                <input type="text" id="qualification" name="qualification">
            </div>

        </div>

        <div class="input-parent">
            <label for="address">
                اپنا پتہ درج کری
                <span>
                    :
                </span>
            </label>
            <input type="text" id="address" name="address">
        </div>


        <div class="two-input">
            <div class="input-parent">
                <label for="password">
                    اپنا پاسورڈ بنائیں
                    <span>
                        :
                    </span>
                </label>
                <input type="text" id="password" name="password">
            </div>

            <div class="input-parent">
                <label for="cpassword">
                    اپنا باسورڈ واپس درج کریں
                    <span>
                        :
                    </span>
                </label>
                <input type="text" id="cpassword" name="cpassword">
            </div>
        </div>

        <p class="message">

        </p>

        <div class="submit-btn-container">
            <button class="submit-btn">
                سبمٹ کریں
            </button>
        </div>
    </form>

    <script src="./javascript/quiz/quiz-registeration.js"></script>

</body>

</html>