<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TADRIBIYA QUIZ || SUBAI JAMIAT AHLE HADEES MUMBAI </title>

    <!-- mdb bootstrap required cdn link  -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />


    <!-- own css link  -->
    <link rel="stylesheet" href="./css/quiz/quiz-rules.css">

</head>

<body>

    <div class="container">

        <div class="start-container">
            <div class="hero">
                <img src="https://dorar.net/contest_assets/img/_bg.png" class="bg-image">

                <h1 class="heading">
                    مسابقہ صوبائی جمیعت اہل حدیث ممبئی
                </h1>
                <h3>
                    مسابقہ ماہ رمضان المبارک
                </h3>
                <p>
                    <b>
                        ’صوبائل جمیعت اہل حدیث ممبئی‘
                    </b>
                    ویب سائٹ پر اپنے معزز زائرین کے لئے ایک مفید علمی مسابقہ پیش کررہی ہے،
                    <br>
                    جس کا مقصد آپ کی علمی صلاحیت کو نکھارنا اور دینی اعتبار سے بیداری پیدا کرنا ہے۔
                </p>

                <a href="/quiz" class="start-btn">
                    مسابقہ کے لئے کلک کریں
                    <span class="btn-icon">
                        <i class="fa-solid fa-left-long"></i>
                    </span>
                </a>
            </div>

            <div class="rules-container">


                <h1 class="rules-heading">
                    آن لائن مسابقہ کے شرائط
                </h1>

                <div class="rule-box-container">

                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">

                            یہ مسابقہ پندرہ رمضان تک جاری رہے گا، اس درمیان خواہش مند حضرات اپنی دلچسپی کا مظاہرہ کرتے
                            ہوئے
                            اس میں حصہ لے سکتے ہیں۔

                        </div>
                    </div>


                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">
                            یہ مسابقہ
                            ’
                            <a href="https://drive.google.com/file/d/1gnQK6D8qW-T5j5BhjdMfrEqyv6WQxpzl/view" download
                                target="_blank">
                                کتاب التوحید
                            </a>
                            از شیخ الاسلام محمد بن عبد الوہاب‘ کے نصف حصہ یعنی باب اول تا باب ۳۳ پر
                            مشتمل ہے۔
                        </div>
                    </div>

                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">

                            ہر سوال کے تحت چار آپشن دئے گئے ہیں، جن میں سے آپ کو کوئی ایک صحیح جواب منتخب کرنا ہے۔

                        </div>
                    </div>

                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">

                            ہر سوال کا ایک متعین وقت مقرر ہوگا آپ کو اسی میں جواب دینا ہوگا۔

                        </div>
                    </div>

                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">

                            ہر مشارک کو صرف ایک مرتبہ ہی حصہ لینے کی اجازت ہوگی۔

                        </div>
                    </div>
                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">

                            پچیس رمضان تک مسابقہ میں ممتاز نمبر سے کامیاب
                            ہونے والوں کی لسٹ جاری کی جائے گی ان شاء اللہ ۔
                        </div>
                    </div>
                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">

                            شرکت کرنے والوں میں سے پہلے پانچ ممتازین کو انعامات سے نوازا جائیگا ان شاء اللہ۔

                        </div>
                    </div>
                    <div class="rule-box">
                        <div class="rule-icon">
                            <img src="https://dorar.net/contest_assets/img/con-icon.svg" alt="">
                        </div>
                        <div class="rule">

                            اپنے تمام مطلوبہ معلومات کو صحیح طریقے سے پور کریں اور واٹس اپ موبائل نمبر درج کریں۔

                        </div>
                    </div>

                </div>

                <div class="quiz-start-row">

                    <div class="text-right">
                        انعام
                        <span>
                            :
                        </span>
                    </div>
                    <div>
                        <a href="/quiz" class="start-btn">
                            مسابقہ کے لئے کلک کریں
                            <span class="btn-icon">
                                <i class="fa-solid fa-left-long"></i>
                            </span>
                        </a>
                    </div>

                </div>


            </div>
        </div>

    </div>

</body>

</html>