<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>کوئز لاگ ان</title>

    <link rel="icon" type="image/x-icon" href="./images/logo-square.png" />
    <link rel="stylesheet" href="./css/donate.css" />
    <link rel="stylesheet" href="./css/quiz/quiz-form.css" />
  </head>

  <body>
    <form>
      <h1>کوئز لاگ ان</h1>

      <div class="input-parent">
        <label for="number">
          اپنا موبائل نمبر درج کریں
          <span> : </span>
        </label>
        <input type="text" id="number" name="number" />
      </div>

      <div class="input-parent">
        <label for="password">
          اپنا پاسورڈ درج کریں
          <span> : </span>
        </label>
        <input type="text" id="password" name="password" />
      </div>

      <div>
        اگر آپ نے رجسٹریشن نہیں کیا ہے تو
        <a href="/quiz-registeration"> رجشٹر کریں </a>
      </div>

      <p class="message"></p>

      <div class="submit-btn-container">
        <button class="submit-btn">سبمٹ کریں</button>
      </div>
    </form>

    <script src="./javascript/quiz/quiz-login.js"></script>
  </body>
</html>
