<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TADRIBIYA QUIZ || SUBAI JAMIAT AHLE HADEES MUMBAI </title>

    <link rel="stylesheet" href="./css/donate.css">

    <style>
        /* nastalique fonts  */
        @import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;500;600;700&display=swap");

        * {
            font-family: "Noto Nastaliq Urdu", serif;
            text-align: right;
            direction: rtl;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            /* background: #f0f0f0;
            height: 100vh; */
        }

        .result {
            width: 400px;
            max-width: 100%;
            padding: 20px 10px;
            border-radius: 10px;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .result .result-header {
            font-size: 35px;
            font-weight: 500;
            color: #078d26;
            text-align: center;
            margin-bottom: 10px;
            line-height: 1.5;
            padding-bottom: 25px;
            border-bottom: 1px solid #ccc;
        }

        .result .result-body {
            padding-inline: 10px;
        }

        .result .result-body {

            font-size: 65px;
            padding: 20px 0;
            text-align: center;
            color: #078d26;
        font-family: "Montserrat", sans-serif;

        }
    </style>

</head>

<body>


    <div class="container">
        <div class="result">
            <div class="result-header">
                تدریبیہ کوئز رزلٹ
            </div>
            <div class="result-body">



                <%= userData.result %>
                    /
                    <%= userData.totalQuestions %>

            </div>

        </div>
    </div>


</body>

</html>